<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>New Clinic</b></h4>
            </div>
            <div class="col-sm-6">
              <a href="#" routerLink="/Home" class="btn btn-success back"><mat-icon aria-hidden="false" aria-label="icon" fontIcon="arrow_circle_left"></mat-icon>
                 Back</a>
            </div>
          </div>
        </div>
        <form #clinicForm="ngForm">
          <div class="table-content">
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="name" class="p-t-b-10">Clinic Name<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="name" required maxlength="255"
                  [(ngModel)]="addClinicForm.name" name="name" #name="ngModel">
                <div *ngIf="name.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!name.errors?.['required']">
                    Clinic Name is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label for="especialidade" class="p-t-b-10">Especialidade<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="especialidade" required maxlength="255"
                  [(ngModel)]="addClinicForm.especialidade" name="especialidade" #especialidade="ngModel">
                <div *ngIf="especialidade.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!especialidade.errors?.['required']">
                    Especialidade is required
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Email<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="cnpj" required maxlength="255"
                  [(ngModel)]="addClinicForm.cnpj" name="cnpj" #cnpj="ngModel"
                  pattern="^[0-9]{2}\.[0-9]{3}\.[0-9]{3}\/[0-9]{4}\-[0-9]{2}$">
                <div *ngIf="cnpj.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!cnpj.errors?.['required']">
                    Cnpj is required
                  </div>
                  <div [hidden]="!cnpj.errors?.['touched'] && !cnpj.errors?.['pattern']">
                    Cnpj is invalid
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label for="endereco" class="p-t-b-10">Adress<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="endereco" required maxlength="255"
                    [(ngModel)]="addClinicForm.endereco" name="endereco" #endereco="ngModel">
                  <div *ngIf="endereco.errors && isSubmitted" class="alert alert-danger validationError">
                    <div [hidden]="!endereco.errors?.['required']">
                      Adress is required
                    </div>
                  </div>
                </div>
            </div>
            <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label for="numero" class="p-t-b-10">Number<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="numero" required maxlength="255"
                    [(ngModel)]="addClinicForm.numero" name="numero" #numero="ngModel">
                  <div *ngIf="numero.errors && isSubmitted" class="alert alert-danger validationError">
                    <div [hidden]="!numero.errors?.['required']">
                      Number is required
                    </div>
                  </div>
                </div>
            </div>
            <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label for="bairro" class="p-t-b-10">Neighborhood<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="bairro" required maxlength="255"
                    [(ngModel)]="addClinicForm.bairro" name="bairro" #bairro="ngModel">
                  <div *ngIf="bairro.errors && isSubmitted" class="alert alert-danger validationError">
                    <div [hidden]="!bairro.errors?.['required']">
                      Neighborhood is required
                    </div>
                  </div>
                </div>
            </div>
            <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label for="cidade" class="p-t-b-10">City<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="cidade" required maxlength="255"
                    [(ngModel)]="addClinicForm.cidade" name="cidade" #cidade="ngModel">
                  <div *ngIf="cidade.errors && isSubmitted" class="alert alert-danger validationError">
                    <div [hidden]="!cidade.errors?.['required']">
                      City is required
                    </div>
                  </div>
                </div>
            </div>
            <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label for="estado" class="p-t-b-10">State<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="estado" required maxlength="255"
                    [(ngModel)]="addClinicForm.estado" name="estado" #estado="ngModel">
                  <div *ngIf="estado.errors && isSubmitted" class="alert alert-danger validationError">
                    <div [hidden]="!estado.errors?.['required']">
                      State is required
                    </div>
                  </div>
                </div>
            </div>
            <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label for="status" class="p-t-b-10">Status<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="status" required maxlength="255"
                    [(ngModel)]="addClinicForm.status" name="status" #status="ngModel">
                  <div *ngIf="status.errors && isSubmitted" class="alert alert-danger validationError">
                    <div [hidden]="!status.errors?.['required']">
                      Status is required
                    </div>
                  </div>
                </div>
            </div>
            <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label for="preco" class="p-t-b-10">Price<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="preco" required maxlength="255"
                    [(ngModel)]="addClinicForm.preco" name="preco" #preco="ngModel">
                  <div *ngIf="preco.errors && isSubmitted" class="alert alert-danger validationError">
                    <div [hidden]="!preco.errors?.['required']">
                      Price is required
                    </div>
                  </div>
                </div>
            </div>
            <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label class="p-t-b-10">Opening hours<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="atendimento" required maxlength="10"
                    [(ngModel)]="addClinicForm.atendimento" name="atendimento" #atendimento="ngModel" pattern="^([0-1]?[0-9]|2[0-3]):[0-5][0-9]$">
                  <div *ngIf="atendimento.errors && isSubmitted" class="alert alert-danger validationError">
                    <div [hidden]="!atendimento.errors?.['required']">
                      Opening hours is required
                    </div>
                    <div [hidden]="!atendimento.errors?.['touched'] && !atendimento.errors?.['pattern']">
                      Opening hours is invalid
                    </div>
                  </div>
                </div>
              </div>
            <div class="form-group p-10 row">
              <div class="col-sm-3">
                <label class="p-t-b-10">Phone<span class="requiredStar">*</span></label>
              </div>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="telefone" required maxlength="10"
                  [(ngModel)]="addClinicForm.telefone" name="telefone" #telefone="ngModel" pattern="^\d{3}\d{3}\d{4}$">
                <div *ngIf="telefone.errors && isSubmitted" class="alert alert-danger validationError">
                  <div [hidden]="!telefone.errors?.['required']">
                    Phone is required
                  </div>
                  <div [hidden]="!telefone.errors?.['touched'] && !telefone.errors?.['pattern']">
                    Phone is invalid
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group p-10 row">
                <div class="col-sm-3">
                  <label class="p-t-b-10">CEP<span class="requiredStar">*</span></label>
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="cep" required maxlength="10"
                    [(ngModel)]="addClinicForm.cep" name="cep" #cep="ngModel" pattern="^[0-9]{5}-[0-9]{3}$">
                  <div *ngIf="cep.errors && isSubmitted" class="alert alert-danger validationError">
                    <div [hidden]="!cep.errors?.['required']">
                      CEP is required
                    </div>
                    <div [hidden]="!cep.errors?.['touched'] && !cep.errors?.['pattern']">
                      CEP is invalid
                    </div>
                  </div>
                </div>
            </div>
          </div>
          <div class="table-footer">
            <button class="btn btn-success" (click)="addClinic(clinicForm.form.valid)">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>